
body {	
	color: white;
	background: black;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;

}

.image_body{
	overflow: hidden;
}

@media (min-width: 1200px)  {
	body{
	max-width: 90%;
	}
}

h1 {
	margin-bottom: 0;
}

hr {
	max-width: 90%;
	height: 3px;
	background: white;
	border-radius: 6px;
	border: 0;
	margin-bottom: 2%;
}

.photo{
	max-width: 100%; 
	object-fit: scale-down;
	overflow: hidden;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  99.9% {
    opacity: 0;
  }
  100% {
    opacity: 1; /* Change to the desired opacity */
  }
}

.main_photo{
	z-index: 2;
  animation: changeOpacity 0s 2s forwards;
}

.placeholder{

	z-index: 1;
}

.gallery_photo{
	position: absolute;
  object-fit: cover;
	top: 0%; 
	left: 0%;
}

.gallery_div{
	width: 19vw;
	height: 11vw;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
	position: relative;
}

@media (max-width: 1200px)  {
    .gallery_div {
        width: 40vw; 
        height: 25vw; 
        max-height: 200px; 
	position: relative;
    }
.gallery_photo{
	position: absolute;
	top: 0%; 
	left: 0%;

}
}

.selector_photo{
  object-fit: contain;
  width: 100%;
	max-width: 100%; 
	overflow: hidden;
}

.selector_div{
	width: 19vw;
	height: 11vw;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
}


.selector_div::before {
  display: block;
  padding-top: 53.25%; 
}

@media (max-width: 1200px)  {
    .selector_div {
        width: 30vw; 
        height: 20vw; 
    }
}


.large_photo_div{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;

}

.large_photo{
	height: 98vh;
	width: auto;
	max-width: 98vw;
	max-height: 98vh;
  object-fit: contain;
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%); 
}

.contents{
	padding-top: 17px;
        text-align: center; 
}

.gallery{
	display: inline-block; 
}

.exit {	
	text-decoration: none;
	display: inline-block;
	font-size: 200%;
	color: white;
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 0.4;
	z-index: 5;

}

.next, .previous{
	position: fixed;
	text-decoration: none;
	display: inline-block;
	font-size: 10vw;
	color: white;
	top: 40%;
}

.arrow_bar{
	position: fixed;
	top: 50vh;

}

.previous{
        position: fixed;
	left: 0;

}

.next {
        position: fixed;
	right: 0;

}

@media (max-width: 1200px)  {
.next, .previous{
	bottom: 5vh;
	margin-top: 10vh;
	text-decoration: none;
	font-size: 20vw;
	color: white;
}

.previous{
	left: 0;
	z-index: 12;

}

.next {
	right: 0;
	z-index: 12;

}
}

.smaller_photo_div{
	width: 14vw;
	height: 9vw;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
}


a:hover {
	color: gray;
}

.trayhover {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.next_images {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw; 
}
@media (min-width: 1200px)  {
.next_images {

	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.5s, opacity 0.5s;
	z-index: 10;
	bottom: 0;
	
}
}

 .center {
    border: 2px solid white;
    border-radius: 2px;
}

.left {
    margin-right: auto; /* Add margin-right: auto */
}

.right {
    margin-left: auto; /* Add margin-left: auto */
}
@media (max-width: 1200px)  {

	.tray_hover {
		position: fixed;
		bottom: 0;
		left: 0;

		}}

.tray_icon {
	opacity: 0;
	display: inline-block;
	color: white;
	position: absolute;
	font-size: 200%;
	bottom: 0;
	left: 50%;
	right: 50%;
	z-index: 5;
}

.tray_btn {
	opacity: 0;
	width: 100vw;
	height: 10vw;
	}

@media (min-width: 1200px)  {
	.tray_icon {
	opacity: 0.4;

	}


	.tray_hover:hover .next_images{
	  opacity: 1;
	  transform: translateY(0);
	}

	.tray_hover {
		text-decoration: none;
		display: inline-block;
		color: white;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 10;
	}

}
