
body {	
	color: white;
	background: black;
	margin-left: auto;
	margin-right: auto;
	    overflow-x: hidden;

}



@media (min-width: 1200px)  {
	body{
	max-width: 90%;
	}
}

h1 {
	margin-bottom: 0;
}

hr {
	max-width: 90%;
	height: 3px;
	background: white;
	border-radius: 6px;
	border: 0;
	margin-bottom: 2%;
}

.photo{
	max-width: 100%; 
	object-fit: scale-down;
	overflow: hidden;
}

.small_photo{
	max-width: 100%; 
	overflow: hidden;

}

.small_photo_div{
	width: 19vw;
	height: 11vw;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
}


.small_photo_div::before {
  display: block;
  padding-top: 53.25%; 
}

@media (max-width: 1200px)  {
    .small_photo_div {
        width: 40vw; /* 90% of the viewport width */
        height: auto; /* Let the height adjust according to the content */
        max-height: 200px; /* Set a maximum height in pixels */
        margin-bottom: 10px; /* Increase margin for better spacing */
    }
}

.large_photo_div{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.large_photo{
	max-height: 98vh;
	max-width: 98vw
	
}

.contents{
	padding-top: 17px;
        text-align: center; 
}

.gallery{
	display: inline-block; 
}

.exit {	
	text-decoration: none;
	display: inline-block;
	font-size: 300%;
	color: white;
	position: absolute;
	top: 20px;
	left: 20px;

}

.next, .previous{
	text-decoration: none;
	display: inline-block;
	font-size: 10vw;
	color: white;
	top: 50%;
}

.previous{
        position: absolute;
	left: 0;

}

.next {
        position: absolute;
	right: 0;

}

@media (max-width: 1200px)  {
.next, .previous{
	bottom: 5vh;
	margin-top: 10vh;
	text-decoration: none;
	font-size: 20vw;
	color: white;
}

.previous{
        position: absolute;
	left: 0;

}

.next {
        position: absolute;
	right: 0;

}
}

.smaller_photo_div{
	width: 14vw;
	height: 9vw;
	overflow: hidden;
	display: inline-block;
	 margin-bottom: 5px;
}


a:hover {
	color: gray;
}

.trayhover {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.next_images {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100vw; 
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.5s, opacity 0.5s;
	z-index: 999;
	bottom: 0;
	/* margin-left: auto; */
	/* margin-right: auto; */
	
}

 .center {
    border: 2px solid white;
    border-radius: 2px;
}

.left {
    margin-right: auto; /* Add margin-right: auto */
}

.right {
    margin-left: auto; /* Add margin-left: auto */
}
@media (max-width: 1200px)  {
	.next_images {
		position: absolute;
		opacity: 1;
		transition: 0;
		transform: 0;
		bottom: 16vh;
		left: 0;
		right: 0;
		}
}

.tray_icon {
	opacity: 0;
	display: inline-block;
	color: white;
	position: absolute;
	font-size: 200%;
	bottom: 0;
	left: 50%;
	right: 50%
}

.tray_btn {
	opacity: 0;
	width: 100vw;
	height: 10vw;
	}

@media (min-width: 1200px)  {
	.tray_icon {
	opacity: 0.4;

	}


	.tray_hover:hover .next_images{
	  opacity: 1;
	  transform: translateY(0);
	}

	.tray_hover {
		text-decoration: none;
		display: inline-block;
		color: white;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 998;
	}

}
